body{
    background: radial-gradient(#e5e5e5, #fff, #e5e5e5);
}
.card{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
    background: #fff;
}

.overflow{
    overflow: hidden;
}
.card-img-top{
    transform: scale(1);
    transition: transform 0.5 ease;
}
.card-img-top:hover{
    transform: scale(1.8);
}